<%= form.hidden_field :raw_content, id: 'content-field' %>

<div class="row">
  <div class="col">
    <div class="leftside">
      <div id="editable-partial" contenteditable="true" style="white-space: pre-wrap;"><%= @document.raw_content %></div>
    </div>
  </div>
  <div class="col">
    <div class="rightside" style="white-space: pre-wrap;"><div id="partial-preview"></div></div>
  </div>
</div>

<script>
  function inputChanged(e) {
    field = document.getElementById('content-field')
    field.value = e.target.innerText
    window.partial_dirty = true
    preview = document.getElementById('partial-preview')
    preview.innerHTML = Eta.render(e.target.innerText)
  }

  document.addEventListener("DOMContentLoaded", function(event) { 
    field = document.getElementById('content-field')
    preview = document.getElementById('partial-preview')
    preview.innerHTML = Eta.render(field.value)

    document.getElementById('submit-button').addEventListener("click", function(event) { 
      window.partial_dirty = false
    })
  
    document.getElementById('editable-partial').addEventListener('input', inputChanged);
  })

  window.onbeforeunload = function(){
    if (window.partial_dirty) {
      return 'Warning. There are some unsaved changes. Are you sure you want to leave?';
    }
  };

</script>
