<h1>Financement partitcipatif</h1>

<h2>Offres</h2>

<h3>Contribution de 1 US$ ou plus</h3>
<p>Si vous aimez notre projet, vous pouvez nous encourager en choississant cette option! Votre nom sera affiché sur notre site internet si vous le désirez. Gros merci pour n'importe quel contribution!</p>

Contribution de 25 US$ ou plus
You will get one promotion code as $50. When you want to buy dobot, you can use the code in the future. Note that this code can only be used on website www.dobot.cc

Each person can only use one at a time.
