<h1>New file</h1>

<%= form_with url: create_file_path do |form| %>
  <%= form.label :name  %>
  <%= form.text_field :name %>
<% end %>

<h2>Templates</h2>

<p>List</p>
<p>Table</p>
<p>Form</p>
<p>Calendar</p>
<p>Edit table</p>
